*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.sel::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(162, 224, 186);
  }
/*background*/
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,#dcd6ff,#dcd6ff,#fffef8,#fffef8,#d6f0ff,#fffef8,#fffef8,
    #deffef,#fffef8,#fffef8,#fffaf0,#fffef8,#fffef8,#ffeded,#ffeded,#fffef8,#fffef8,#ffdede,#ffdede);
    background-size: 1500% 100%;
    animation: bgmv 45s ease-in-out infinite;
}
@keyframes bgmv {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 10vw;
    height: 5vh;
    background: pink;
    margin: 0;
    border-radius: 50%;
    animation: floatingBubbles 15s linear infinite;
    animation-duration: calc(200s/var(--i))
}
.bubbles span:nth-child(4n-7){
    background: #fffaf0;
}
.bubbles span:nth-child(4n-9){
    background: #d6f0ff;
}
@keyframes floatingBubbles {
    0% {
        transform: translateY(95vh) scale(0);
    }
    100% {
        transform: translateY(5vh) scale(1);
    }
    
}
.edu{
    position: absolute;
    font-size: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: #b9b2dc;
    top: 18vh;
    left: 15vw;
    transition: 0.5s;
}

.edu:hover
{
    color: pink;
}
.line{
    position: absolute;
    width: 59vw;
    height: 0.5vh;
    top: 26vh;
    left: 16vw;
    background-color: #b9b2dc;
} 
.imageanu {
	position: absolute;
	width: 10vw;
	opacity: 0;
    top: 30vh;
    left: 16.5vw;
	animation: change-img-anim 8s infinite;
}

.imageanu:nth-of-type(1) {
	animation-delay: 0s;
}
.imageanu:nth-of-type(2) {
	animation-delay: 12s;
}
@keyframes change-img-anim {
	0%{ opacity: 0;}
	50%{ opacity: 1;}
	100%{ opacity: 0;}
}

.imganubtn{
    position: absolute;
	width: 10vw;
	opacity: 0;
    top: 30vh;
    left: 16.5vw;
    cursor: pointer;
    transition: all 0.7s;
    scale: 105%;
}

.imganubtn:hover
{
    scale: 100%;
    opacity: 70%;
}

.imagetps {
	position: absolute;
	width: 10vw;
	opacity: 0;
    top: 30vh;
    left: 27vw;
	animation: change-img-anim 8s infinite;
}

.imagetps:nth-of-type(1) {
	animation-delay: 0s;
}
.imagetps:nth-of-type(2) {
	animation-delay: 12s;
}
@keyframes change-img-anim {
	0%{ opacity: 0;}
	50%{ opacity: 1;}
	100%{ opacity: 0;}
}

.imgtpsbtn{
    position: absolute;
	width: 10vw;
	opacity: 0;
    top: 30vh;
    left: 27vw;
    cursor: pointer;
    transition: all 0.7s;
    scale: 105%;
}
.imgtpsbtn:hover
{
    background-color: white;
    scale: 100%;
    opacity: 70%;
}
.imagescius {
	position: absolute;
	width: 20.5vw;
	opacity: 0;
    top: 63.5vh;
    left: 16.6vw;
	animation: change-img-anim 8s infinite;
}

.imagescius:nth-of-type(1) {
	animation-delay: 0s;
}
.imagescius:nth-of-type(2) {
	animation-delay: 12s;
}
@keyframes change-img-anim {
	0%{ opacity: 0;}
	50%{ opacity: 1;}
	100%{ opacity: 0;}
}

.imgsciusbtn{
    position: absolute;
	width: 20.5vw;
	opacity: 0;
    top: 63.5vh;
    left: 16.6vw;
    cursor: pointer;
    scale: 105%;
    transition: all 0.7s;
}
.imgsciusbtn:hover
{
    scale: 100%;
    opacity: 70%;
}
.imagecmu {
	position: absolute;
	width: 17.1vw;
	opacity: 0;
    top: 30vh;
    left: 37.5vw;
	animation: change-img-anim 8s infinite;
}

.imagecmu:nth-of-type(1) {
	animation-delay: 0s;
}
.imagecmu:nth-of-type(2) {
	animation-delay: 12s;
}
@keyframes change-img-anim {
	0%{ opacity: 0;}
	50%{ opacity: 1;}
	100%{ opacity: 0;}
}

.imgcmubtn{
    position: absolute;
	width: 17.1vw;
	opacity: 0;
    top: 30vh;
    left: 37.5vw;
    cursor: pointer;
    scale: 105%;
    transition: all 0.7s;
}
.imgcmubtn:hover
{
    background-color: white;
    scale: 100%;
    opacity: 70%;
}

.imagekmutt {
	position: absolute;
	width: 17.1vw;
	opacity: 0;
    top: 30vh;
    left: 55vw;
	animation: change-img-anim 8s infinite;
}

.imagekmutt:nth-of-type(1) {
	animation-delay: 0s;
}
.imagekmutt:nth-of-type(2) {
	animation-delay: 12s;
}
@keyframes change-img-anim {
	0%{ opacity: 0;}
	50%{ opacity: 1;}
	100%{ opacity: 0;}
}

.imgkmuttbtn{
    position: absolute;
	width: 17.1vw;
	opacity: 0;
    top: 30vh;
    left: 55vw;
    cursor: pointer;
    scale: 105%;
    transition: all 0.7s;
}
.imgkmuttbtn:hover
{
    background-color: white;
    scale: 100%;
    opacity: 70%;
}

img::selection{
    background-color: transparent;
}
/*end school*/

@keyframes bordermove {
    0%{
        border-radius: 91% 100% 100% 76% / 90% 76% 91% 100% ;
    }
    12.5%{
        border-radius:100% 100% 100% 100% / 99% 100% 100% 100% ;
    }
    25%{
        border-radius:74% 100% 100% 78% / 99% 81% 95% 70% ;
    }
    37.5%{
        border-radius:84% 66% 79% 63% / 100% 80% 88% 69% ;
    }
    50%{
        border-radius: 100% 64% 87% 76% / 100% 69% 81% 47% ;
    }
    62.5%{
        border-radius: 100% 99% 100% 77% / 100% 84% 89% 100% ;
    }
    75%{
        border-radius:100% 81% 79% 100% / 71% 91% 94% 100% ;
    }
    87.5%{
        border-radius:66% 100% 89% 90% / 78% 83% 79% 100% ;
    }
    100%{
        border-radius:100% 70% 75% 100% / 70% 100% 79% 100%  ;
    }
}

.meholder{
    position: absolute;
    width: 46vh;
    height: 60vh;
    border-radius:100% 70% 75% 100% / 70% 100% 79% 100%;
    top: 24vh;
    left: 74vw;
    background-color: #b9b2dc;
    animation: bordermove 5s alternate linear infinite;
}
.meholder2{
    position: absolute;
    width: 46vh;
    height: 60vh;
    rotate: -7deg;
    border-radius:100% 70% 75% 100% / 70% 100% 79% 100%;
    top: 30vh;
    left: 75vw;
    background-color: #b9b2dc;
    animation: bordermove 6s alternate-reverse linear infinite;
}
.meholder3{
    position: absolute;
    width: 46vh;
    height: 60vh;
    border-radius:100% 70% 75% 100% / 70% 100% 79% 100%;
    top: 24vh;
    left: 74vw;
    rotate: 14deg;
    background-color: #b9b2dc;
    animation: bordermove 4s alternate linear infinite;
}
.myself{
    font-family: cursive;
    font-size: 2.5vh;
    width: 37vh;
    height: 60vh;
    position: absolute;
    top: 40vh;
    left: 77vw;
    color: white;
}
.pink-hl{
    color: pink;
}
.pink-hl::selection
{
    color: white;
    background-color: pink;
}
.blue-hl{
    color: skyblue;
}
.blue-hl::selection
{
    color: white;
    background-color: skyblue;
}
.purple-hl{
    color: purple;
}
.purple-hl::selection
{
    color: white;
    background-color: purple;
}
.orange-hl{
    color: orangered;
}
.orange-hl::selection
{
    color: white;
    background-color: orangered;
}

/*end myself*/

.btnhome{
    font-size: 2.2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 16.5vw;
    top: 93vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: plum;
    transition: all 0.3s;
}
.btnhome::selection {
    color: rgb(255, 255, 255);
    background-color: #b9b2dc;
  }
.btnhome:hover {
    transform: translateX(1vh);
    color: rgb(255, 255, 255);
    background-color: pink;
}
.btnskl{
    font-size: 2.2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 16.5vw;
    top: 90vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: plum;
    transition: all 0.3s;
}
.btnskl::selection {
    color: rgb(255, 255, 255);
    background-color: #b9b2dc;
  }
.btnskl:hover {
    transform: translateX(1vh);
    color: rgb(255, 255, 255);
    background-color: pink;
}

.btnabt{
    font-size: 2.2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 16.5vw;
    top: 87vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: plum;
    transition: all 0.3s;
}
.btnabt::selection {
    color: rgb(255, 255, 255);
    background-color: #b9b2dc;
}
.btnabt:hover {
    transform: translateX(1vh);
    color: rgb(255, 255, 255);
    background-color: pink;
}
/*disc*/
.disc{
    position: absolute;
    width: 7vh;
    height: 7vh;
    margin: 0 3vh;
    border-radius: 50%;
    top: 4vh;
    left: 2vh;
    background-image: linear-gradient(to bottom right, #f08da9,#fee3b8,#bce4e3,#a6dae8,#b9b2dc
    ,#ebc8d5,#f08da9);
    animation: spinning 8s linear infinite;
}
.disc::selection{
    background-color: transparent;
}
.discholder{
    position: absolute;
    width: 8.5vh;
    height: 8.5vh;
    margin: 0 3vh;
    border-radius: 50%;
    top: 3.25vh;
    left: 1.25vh;
    background-color: #b9b2dc;
    animation: spinning 8s linear infinite;
}
.discholder2{
    position: absolute;
    width: 22vh;
    height: 8.2vh;
    top: 3.4vh;
    left: 8vh;
    background-color: white;
}
.discholder3{
    position: absolute;
    width: 8.2vh;
    height: 8.2vh;
    margin: 0 3vh;
    border-radius: 50%;
    top: 3.45vh;
    left: 22.6vh;
    background-color: white;
}
@keyframes spinning {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

.sd1{
    position: absolute;
    color: #b9b2dc;
    font-size: 1.3vh;
    font-family: cursive;
    top: 4vh;
    left: 14vh;
}
.sd1::before{
    content: "now playing";
    animation: changenowplaying 3s infinite;
}
@keyframes changenowplaying {
    0% {
        content: "now playing.";
    }
    25% {
        content: "now playing.";
    }
    50% {
        content: "now playing..";
    }
    75% {
        content: "now playing...";
    }
}
.sd2{
    position: absolute;
    color: #b9b2dc;
    font-size: 1.7vh;
    font-family: cursive;
    top: 6vh;
    left: 14vh;
}
.sd3{
    position: absolute;
    color: #b9b2dc;
    font-size: 1.3vh;
    font-family: cursive;
    top: 8.3vh;
    left: 14vh;
}
/*end disc*/